.itens_A {
    color: blueviolet;
}

h1{
    color: blue;
    border: 2px solid grey;
    text-align: center;
}

section .segundo{
    color: grey;
    background-color: beige;
    border: 1px solid greenyellow;
}

article h4{
    text-align: center;
    border: 2px solid indigo;
}